<div class="row">
  <div class="col-xl-12">
    <p>Add new Server or blueprints!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName" placeholder="Server Name">-->
    <input
      type="text"
      class="form-control"
      #serverNameInput placeholder="Server Name">
    <label>Server Content</label>
    <input
      type="text"
      class="form-control"
      #serverContentInput
      placeholder="Server Content">
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>&nbsp;
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint
    </button>
  </div>
</div>
